@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700);
body {
    background: #eee;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

ul.quote-card{
    margin: 0;
    padding: 0;
}

ul.quote-card li {
    background: #fff;
    color: #222222;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
    position: relative;
    overflow: hidden;
    min-height: 300px;
    margin: 0;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.quote-mini {
    overflow: hidden;
    min-height: 200px;
    height: 200px;
    width: 50%;
    display: inline-block;
    opacity: 0.5;
}

.quote-noti-read{
    opacity: 1;
}

.quote-card:before{
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.1);
    z-index: -100;
}

ul.quote-card li p {
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
    margin: 0;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    word-wrap: break-word;
    padding: 25% 0px;
}

.quote-mini p{
    height: 100%;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}
ul.quote-card li cite {
    font-size: 16px;
    margin-top: 10px;
    display: block;
    font-weight: 200;
    opacity: 0.8;
    text-align: right;
    font-style: normal;
}

ul.quote-card li .quote_bottom {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 15px;
}

ul.quote-card li .quote_bottom span {
    display: inline-block;
    line-height: 40px;
    font-size: 14px;
    opacity: 0.8;
}

ul.quote-card li .quote_bottom .button .icon{
    font-size: 22px;
}

ul.quote-card li  .quote_top {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
}

.quote-card li.red{
    background-image: url('../textures/snow.png');
    background-color: #c0392b;
    color: #ffffff;
}

.quote-card li.pink{
    background-image: url('../textures/xv.png');
    background-color: #E08283;
    color: #ffffff;
}

.quote-card li.black{
    background-image: url('../textures/snow.png');
    background-color: #000000;
    color: #ffffff;
}

.quote-card li.white{
    background-image: url('../textures/white_wall_hash.png');
    background-color: #ffffff;
    color: #000;
}

.quote-card li.teal{
    background-image: url('../textures/egg-shell.png');
    background-color: #16a085;
    color: #ffffff;
}

.quote-card li.purple{
    background-image: url('../textures/snow.png');
    background-color: #9b50ba;
    color: #ffffff;
}

.quote-card li.blue{
    background-image: url('../textures/snow.png');
    background-color: #446CB3;
    color: #ffffff;
}

.quote-card li.blue2{
    background-image: url('../textures/type.png');
    background-color: #446CB3;
    color: #ffffff;
}

.quote-card li.orange{
    background-image: url('../textures/light-paper-fibers.png');
    background-color: #F39C12;
    color: #ffffff;
}

.quote-card li.gray{
    background-image: url('../textures/snow.png');
    background-color: #6C7A89;
    color: #ffffff;
}

.quote-card li.green{
    background-image: url('../textures/white-wall-3-2.png');
    background-color: #27ae60;
    color: #ffffff;
}

.compose-textarea {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    width: 100%;
    text-align: center;
}

.avatarUserQuote {
    width: 10%;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.hide{
    display: none;
}

.badge{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 0;
    line-height: 18px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 11px;
}

.footer .text-field{
    margin: 0;
}