<div class="pages">
    <section class="content has-footer">
        <ul class="list" id="comments">
            <li class="list__subheader">Comentários</li>
        </ul>
    </section>
    <footer class="footer">
        <div class="text-field" style="width: 100%; margin-left: 16px;">
            <input type="text" class="text-field__input" placeholder="Last name">
            <div class="text-field__border"></div>
        </div>
        <div class="footer_buttons">
            <button class="button ripple button--icon" id="createComment">
                <i class="icon mdi mdi-send"></i>
            </button>
        </div>
    </footer>
</div>
