<div class="pages">
    <header class="header header--shadow">
        <div class="header__buttons">
            <button class="button button--icon ripple" onclick="navigation.closeCurrentPage()">
                <i class="icon mdi mdi-arrow-left"></i>
            </button>
        </div>
        <div class="header__title">Compose</div>
        <div class="header__buttons">
            <button class="button button--icon ripple new-compose">
                <i class="icon mdi mdi-send"></i>
            </button>
        </div>
    </header>
    <section class="content has-header">
        <blockquote class="quote-card white">
            <p>
                <textarea class="compose-textarea"></textarea>
            </p>
            <div class="quote_footer">
                
            </div>
        </blockquote>
    </section>
    <footer class="footer">
        <div class="footer__buttons">
            <button class="button button--icon ripple">
                <i class="icon mdi mdi-camera"></i>
            </button>
        </div>
        <div class="footer__buttons">
            <button class="button button--icon ripple postTexture">
                <i class="icon mdi mdi-palette"></i>
            </button>
        </div>
    </footer>
</div>
